body{
  font-family: Trebuchet MS;
  margin: 0;
  padding: 0;
}
header{
  width:100%;
  background: rgba(45, 45, 45, 1);
  box-shadow: inset 0 0px 20px black;
  color:whitesmoke;
}
img{
  max-width: 500px;
  max-height: 500px;
  border: solid 15px rgb(200,200,200);
  padding: 2px;
}
ul{
  margin: auto;
  padding: 0;
}
ul.vertical li{
  margin:10px 0;
}
ul.horizontal li {
  display: inline;
  margin: 0 10px;
}
a{
  color: whitesmoke;
  text-decoration: none;
}
header section{
  color: white;
  padding: 10px;
  vertical-align: middle;
  display: inline-block;
}
nav{
  background: rgb(18, 113, 235);
  padding: 10px;
  color: white;
}
nav ul li{
  padding: 10px;
  cursor: pointer;
}
nav ul li.active{
  background-color: black;
}
.textalignright{
  text-align: right;
}
.wrapper{
  margin: auto; 
}
.textaligncenter{
  text-align: center;
}
.fontsize48{
  font-size: 48px;
}
.fontsize30{
  font-size: 30px;
}
.fontsize14{
  font-size: 14px;
}
.fontweightbold{
  font-weight: bold;
}
.sectionAboutMe{
  width: 25%;
  max-width: 400px;
}
.sectionReferences{
  float:right;
}
.contentArea{
  padding: 30px;
}
.contentArea input[type='button']{
  color: whitesmoke;
  border: none;
  padding: 10px;
  border-radius: 5px;
  background: rgb(18, 113, 235);
  cursor: pointer;
}
@font-face {
  font-family: 'LigatureSymbols';
  src: url('../LigatureSymbols/LigatureSymbols-2.11.eot');
  src: url('../LigatureSymbols/LigatureSymbols-2.11.eot?#iefix') format('embedded-opentype'),
       url('../LigatureSymbols/LigatureSymbols-2.11.woff') format('woff'),
       url('../LigatureSymbols/LigatureSymbols-2.11.ttf') format('truetype'),
       url('../LigatureSymbols/LigatureSymbols-2.11.svg#LigatureSymbols') format('svg');
  src: url('../LigatureSymbols/LigatureSymbols-2.11.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.lsf, .lsf-icon:before {
  font-family: 'LigatureSymbols';
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
