<!DOCTYPE html>
<html ng-app="janeM">
<head>
	<title>Jane Mendonca</title>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
	<script type="text/javascript" src="js/index.js"></script>
  <link href="css/index.css" rel="stylesheet" type="text/css"></link>
</head>
<body>
  <div class="wrapper">
    <section><p class="textaligncenter"><img src="construction.png"></p></section>
    <section ng-controller="AboutMe as me" class="textaligncenter">   
      <label class="fontsize48">{{me.product.firstName +" "+ me.product.lastName}}</label>
      <ul>
        <li ng-repeat="obj in me.product.designation">{{obj.title}}</li>
      </ul> 
      <ul class="fontsize24">
        <li class="lsf" ng-repeat="obj in me.product.links"><a ng-href="{{obj.url}}">{{obj.text}}</a></li>
      </ul>
    </section>
  </div>	
</body>
</html>
